/* common */
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  background-color: #ffffff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  font-family: inherit;
  padding: 0;
}

input {
  font-family: inherit;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 288px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 736px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.sub-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.social-icon-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.social-icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon-link:hover,
.social-icon-link:focus {
  background-color: #404bbf;
}

.social-icon {
  fill: #f4f4fd;
}

.close-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  min-height: 24px;
  margin-left: auto;
  background-color: #e7e9fc;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-width 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button:hover,
.close-button:focus {
  background-color: #404bbf;
  border-width: 0;
}

.close-icon {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button:hover .close-icon,
.close-button:focus .close-icon {
  fill: #fff;
}

/* header */

.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-nav-list {
  display: none;
}

.header-addr-list {
  display: none;
}

.header-logo {
  padding: 16px 0;
}

.header-logo .logo-part {
  color: #2e2f42;
}

.header-menu-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border: none;
  background-color: transparent;
}

.header-menu-icon {
  fill: #2f2f37;
}

@media screen and (min-width: 768px) {
  .header-logo {
    padding: 24px 0;
  }

  .header-nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-left: 120px;
  }

  .header-nav-link {
    display: block;
    position: relative;
    font-weight: 500;
    color: #2e2f42;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-nav-link::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-nav-link:hover::after,
  .header-nav-link:focus::after,
  .header-nav-link.current::after {
    opacity: 1;
  }

  .header-addr {
    padding: 16px 0;
    margin-left: auto;
  }

  .header-addr-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .header-addr-link {
    display: block;
    font-style: normal; /* наклонний шрифт за замовчуванням */
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-nav-link:hover,
  .header-nav-link:focus,
  .header-addr-link:hover,
  .header-addr-link:focus,
  .header-nav-link.current {
    color: #404bbf;
  }

  .header-menu-btn {
    display: none;
  }
}

@media screen and (min-width: 1158px) {
  .header-addr {
    padding: 0;
  }

  .header-addr-list {
    flex-direction: row;
    gap: 40px;
  }

  .header-addr-link {
    display: block;
    padding: 24px 0;
    font-style: normal; /* наклонний шрифт за замовчуванням */
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

/* mobile menu */

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: #fff;
  overflow: auto;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: translateY(-100%);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 200ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transform: translateY(0);
}

.mobile-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: 24px;
  padding-bottom: 40px;
}

.mobile-nav {
  margin-top: 24px;
}

.mobile-nav-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.mobile-nav-link {
  display: block;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-addr {
  margin-top: auto;
}

.mobile-addr-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.mobile-addr-link {
  display: block;
  font-style: normal; /* наклонний шрифт за замовчуванням */
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-nav-link:hover,
.mobile-nav-link:focus,
.mobile-addr-link:hover,
.mobile-addr-link:focus,
.mobile-nav-link.current {
  color: #404bbf;
}

.mobile-social {
  margin-top: 48px;
}

.mobile-icon-list {
  gap: 40px;
}

.mobile-icon-link:hover,
.mobile-icon-link:focus {
  background-color: #404bbf;
}

.mobile-icon {
  fill: #f4f4fd;
}

/* main */

.main-section {
  padding: 72px 0;
  margin: 0 auto;
  background-color: rgba(46, 47, 66, 0.7);
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/people-office.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  display: block;
  padding: 0 52px;
  margin: 0 auto;
}

.main-button {
  display: block;
  min-width: 169px;
  height: 56px;
  padding: 16px 32px;
  margin: 72px auto 0;
  border: none;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-button:hover,
.main-button:focus {
  background-color: #404bbf;
}

/* features */

.features-section {
  padding: 96px 0;
}

.features-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.features-item {
  position: relative;
}

.features-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.features-text {
  font-weight: 500;
  margin-top: 8px;
}

.features-icon-box {
  display: none;
}

/* team */

.team-section {
  background-color: #f4f4fd;
  padding: 96px 0;
}

.team-list {
  margin: 72px 12px 0;
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.team-item {
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-text-block {
  padding: 32px 16px;
}

.team-title,
.team-text {
  text-align: center;
}

.team-text {
  margin-top: 8px;
  margin-bottom: 8px;
}

/* portfolio */

.portfolio-section {
  padding: 96px 0;
}

.portfolio-list {
  display: flex;
  flex-direction: column;
  margin-top: 72px;
  gap: 48px;
}

.portfolio-item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-image-wrapper {
  position: relative;
  overflow: hidden;
}

.portfolio-thumb {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  padding: 40px 32px;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-thumb-text {
  color: #f4f4fd;
}

.portfolio-item:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-item:hover .portfolio-thumb {
  transform: translateY(0);
}

.portfolio-text-block {
  padding: 32px 16px;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
}

.portfolio-text {
  margin-top: 8px;
}

/* footer */
.page-footer {
  background-color: #2e2f42;
  padding: 96px 16px;
}

.footer-container {
  display: flex;
  flex-direction: column;
  gap: 72px;
  align-items: center;
}

.footer-logo {
  display: block;
  text-align: center;
}

.footer-logo .logo-part {
  color: #f4f4fd;
}

.footer-text {
  color: #f4f4fd;
  margin-top: 16px;
}

.footer-social-title {
  font-weight: 500;
  color: #fff;
  text-align: center;
}

.footer-social-list {
  margin-top: 16px;
  gap: 16px;
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: #31d0aa;
}

.footer-subscribe-box {
  width: 100%;
}

.footer-subscribe-title {
  font-weight: 500;
  color: #fff;
  text-align: center;
}

.footer-subscribe-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.footer-subscribe-mail {
  border: 1px solid #fff;
  background-color: inherit;
  border-radius: 4px;
  width: 100%;
  height: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  padding: 8px 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-subscribe-mail::placeholder {
  color: inherit;
}

.footer-subscribe-mail:hover,
.footer-subscribe-mail:focus {
  border-color: #31d0aa;
  outline: none;
}

.footer-subscribe-button {
  display: flex;
  min-width: 165px;
  height: 40px;
  padding: 8px 24px;
  border-radius: 4px;
  border: none;
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-subscribe-button:hover,
.footer-subscribe-button:focus {
  background-color: #31d0aa;
  outline: none;
}

.footer-subscribe-icon {
  fill: #fff;
  margin-left: 16px;
}

/* popup window */

.contacts-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;

  background-color: rgba(46, 47, 66, 0.4);

  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-overlay.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.contacts-modal {
  width: 288px;
  border-radius: 4px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: #fcfcfc;
  padding: 24px 16px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-overlay:not(.is-open) .contacts-modal {
  transform: scale(1.5);
}

.contacts-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-top: 24px;
}

.contacts-form {
  margin-top: 16px;
}

.contacts-box {
  border-radius: 4px;
  margin-top: 16px;
}

.contacts-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}

.contacts-field-wrapper {
  position: relative;
  margin-bottom: 8px;
}

.contacts-field {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #2e2f42;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  padding-left: 38px;
  padding-right: 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-field:focus {
  border-color: #4d5ae5;
  outline: none;
}

.contacts-field-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 16px;
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-field:focus + .contacts-field-icon {
  fill: #4d5ae5;
}

.contacts-comment {
  display: block;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 120px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #2e2f42;
  padding: 8px 16px;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-comment:focus {
  border-color: #4d5ae5;
  outline: none;
}

.contacts-comment::placeholder {
  color: rgba(46, 47, 66, 0.4);
}

.contacts-checkbox {
  margin-top: 16px;
}

.contacts-check-label {
  display: flex;
  align-items: center;
}

.contacts-label-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.contacts-label-link {
  line-height: 1.33;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}

.contacts-check-label:focus,
.contacts-check-label:hover {
  text-decoration: underline;
}

.contacts-check:focus + .contacts-check-label {
  text-decoration: underline;
}

.contacts-check-custom {
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  width: 16px;
  height: 16px;
  margin-right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-check:checked + .contacts-check-label .contacts-check-custom {
  background-color: #404bbf;
  border: 1px solid #404bbf;
}

.contacts-check-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: transparent;
}

.contacts-check:checked + .contacts-check-label .contacts-check-icon {
  fill: #f4f4fd;
}

.contacts-button {
  display: block;
  min-width: 169px;
  height: 56px;
  padding: 16px 65px;
  margin: 24px auto 0;
  border-radius: 4px;
  border: none;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-button:hover,
.contacts-button:focus {
  background-color: #404bbf;
}

.hidden {
  display: none;
}
