/* common */
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  background-color: #ffffff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  font-family: inherit;
}

input {
  font-family: inherit;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.111;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.sub-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.social-icon-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
  gap: 24px;
}

.social-icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon-link:hover,
.social-icon-link:focus {
  background-color: #404bbf;
}

.social-icon {
  fill: #f4f4fd;
}

/* header */

.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.167;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header-logo {
  padding: 24px 0;
  margin-right: 76px;
}

.header-logo .logo-part {
  color: #2e2f42;
}

.nav-addr {
  display: flex;
  align-items: center;
}

.nav-header {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav-link {
  position: relative;
  font-weight: 500;
  color: #2e2f42;
  padding: 24px 0;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link::after {
  content: "";
  border-radius: 2px;
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  position: absolute;
  bottom: -1px;
  left: 0;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover::after,
.nav-link:focus::after,
.nav-link.current::after {
  opacity: 1;
}

.addr {
  margin-left: auto;
}

.addr-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.addr-link {
  font-style: normal; /* наклонний шрифт за замовчуванням */
  color: #434455;
  padding: 24px 0;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus,
.addr-link:hover,
.addr-link:focus,
.nav-link.current {
  color: #404bbf;
}

/* main */

.main-section {
  padding: 188px 0;
  margin: 0 auto;
  background-color: rgba(46, 47, 66, 0.7);
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/people-office.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1440px;
}

.main-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.071;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
  display: block;
  width: 496px;
  margin: 0 auto;
}

.main-button {
  min-width: 169px;
  font-weight: 500;
  letter-spacing: 0.04em;
  line-height: 1.5;
  color: #ffffff;
  background-color: #4d5ae5;
  display: block;
  padding: 16px 32px;
  margin: 48px auto 0;
  border: none;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-button:hover,
.main-button:focus {
  background-color: #404bbf;
}

/* features */

.features-section {
  padding: 120px 0;
}

.features-list {
  display: flex;
  align-items: center;
  gap: 24px;
}

.features-item {
  width: calc((100% - 3 * 24px) / 4);
  max-width: 264px;
}

.features-icon-box {
  border: 1px solid #8e8f99;
  border-radius: 4px;
  background-color: #f4f4fd;
  margin-bottom: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 264px;
  height: 112px;
}

.features-text {
  margin-top: 8px;
}

/* team */

.team-section {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.team-list {
  display: flex;
  align-items: center;
  margin-top: 72px;
  gap: 24px;
}

.team-item {
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  width: calc((100% - 3 * 24px) / 4);
  max-width: 264px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-text-block {
  padding: 32px 16px;
}

.team-title,
.team-text {
  text-align: center;
}

.team-text {
  margin-top: 8px;
}

/* portfolio */

.portfolio-section {
  padding: 120px 0;
}

.portfolio-list {
  display: flex;
  align-items: center;
  margin: 72px auto 0;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.portfolio-item {
  width: calc((100% - 2 * 24px) / 3);
  max-width: 360px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-image-wrapper {
  position: relative;
  overflow: hidden;
}

.portfolio-thumb {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  padding: 40px 32px;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-thumb-text {
  color: #f4f4fd;
}

.portfolio-item:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-item:hover .portfolio-thumb {
  transform: translateY(0);
}

.portfolio-text-block {
  padding: 32px 16px;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
}

.portfolio-text {
  margin-top: 8px;
}

/* footer */
.page-footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-logo .logo-part {
  color: #f4f4fd;
}

.footer-text {
  color: #f4f4fd;
  width: 264px;
  display: block;
  margin-top: 16px;
}

.footer-social {
  margin-left: 120px;
  width: 208px;
}

.footer-social-list {
  margin-top: 16px;
  gap: 16px;
}

.footer-social-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: #31d0aa;
}

.footer-subscribe-box {
  margin-left: auto;
}

.footer-subscribe-form {
  margin-top: 16px;
  display: flex;
}

.footer-subscribe-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
}

.footer-subscribe-mail {
  border: 1px solid #fff;
  background-color: inherit;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  padding: 8px 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-subscribe-mail::placeholder {
  color: inherit;
}

.footer-subscribe-mail:hover,
.footer-subscribe-mail:focus {
  border-color: #31d0aa;
  outline: none;
}

.footer-subscribe-button {
  border-radius: 4px;
  border: none;
  background-color: #4d5ae5;
  min-width: 165px;
  padding: 8px 24px;
  margin-left: 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  display: flex;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-subscribe-button:hover,
.footer-subscribe-button:focus {
  background-color: #31d0aa;
  outline: none;
}

.footer-subscribe-icon {
  fill: #fff;
  margin-left: 16px;
}

/* popup window */

.contacts-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: rgba(46, 47, 66, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-overlay.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.contacts-modal {
  width: 408px;
  min-height: 584px;
  overflow: auto;
  border-radius: 4px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: #fcfcfc;
  padding: 24px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-overlay:not(.is-open) .contacts-modal {
  transform: scale(1.5);
}

.contacts-close-button {
  width: 24px;
  height: 24px;
  background-color: #e7e9fc;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  font-size: 0;
  display: block;
  margin-left: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-width 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-close-button:hover,
.contacts-close-button:focus {
  background-color: #404bbf;
  border-width: 0;
}

.contacts-close-icon {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-close-button:hover .contacts-close-icon,
.contacts-close-button:focus .contacts-close-icon {
  fill: #fff;
}

.contacts-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-top: 24px;
}

.contacts-form {
  margin-top: 16px;
}

.contacts-box {
  border-radius: 4px;
  max-width: 360px;
  max-height: 336px;
  margin-top: 16px;
}

.contacts-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}

.contacts-field-wrapper {
  position: relative;
  margin-bottom: 8px;
}

.contacts-field {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #2e2f42;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  padding-left: 38px;
  padding-right: 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-field:focus {
  border-color: #4d5ae5;
  outline: none;
}

.contacts-field-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 16px;
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-field:focus + .contacts-field-icon {
  fill: #4d5ae5;
}

.contacts-comment {
  display: block;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 120px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #2e2f42;
  padding: 8px 16px;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-comment:focus {
  border-color: #4d5ae5;
  outline: none;
}

.contacts-comment::placeholder {
  color: rgba(46, 47, 66, 0.4);
}

.contacts-checkbox {
  margin-top: 16px;
}

.contacts-check-label {
  display: flex;
  align-items: center;
}

.contacts-label-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.contacts-label-link {
  line-height: 1.33;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}

.contacts-check-label:focus,
.contacts-check-label:hover {
  text-decoration: underline;
}

.contacts-check:focus + .contacts-check-label {
  text-decoration: underline;
}

.contacts-check-custom {
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  width: 16px;
  height: 16px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contacts-check:checked + .contacts-check-label .contacts-check-custom {
  background-color: #404bbf;
  border: 1px solid #404bbf;
}

.contacts-check-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: transparent;
}

.contacts-check:checked + .contacts-check-label .contacts-check-icon {
  fill: #f4f4fd;
}

.contacts-button {
  display: block;
  border-radius: 4px;
  border: none;
  min-width: 169px;
  padding: 16px 65px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #4d5ae5;
  margin: 24px auto 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  align-self: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-button:hover,
.contacts-button:focus {
  background-color: #404bbf;
}
